.App {
  text-align: center;
}

.FormFilm {
  width: 500px;
  margin: 0 auto;
  text-align: left;
 }
 
 .FormFilm legend {
  background-color: #000;
  color: #fff;
  margin:auto;
  padding: 3px 17px;
  
  font-weight: bold;
 } 

 .FormFilm h1 {
  text-align: center;
 }
 
 .FormFilm .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
 }
 
 .FormFilm .form-data label {
  /* display: inline-block; */
  width: 100px;
  margin-right: 10px;
  text-align: left;
 }
 
 .FormFilm .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }

 .FormFilm .form-data textarea {
  flex-grow: 1;
 }